body {
    font-family: 'PT Sans', "Verdana", "sans-serif";
    line-height: 26px;
    background-color: #f2f2f2;
    width: 1200px;
    margin: 0px auto;
    padding: 0;
}
.page-container {
    background-color: white;
    box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.21);
    max-width: 1200px;
    margin: 0px auto;
}
.main-navigator {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    width: 1054px;
    padding-left: 73px;
    padding-right: 73px;
    margin-left: 15px;
}
.main-navigator a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.main-navigator a:hover {
    color: #81b3d2;
}

.main-navigator a:active {
    color: #c1c1c1;
}

.main-navigator .current {
    color: #766357;
}

.main-navigator .current:hover {
    color: #604e43;
}

.main-navigator .current:active {
    color: #d6d0cc;
}
.container {
    width: 1200px;
    height: 41px;
    align-items: center;
    padding-top: 17px;
    background-color: white;
}
header {
    margin: 0;
    position: relative;
}
.logo {
    position: absolute;
    top: 0px;
    left: 530px;
}
.nav {
    display: flex;
    padding: 0;
    text-align: center;
    justify-content: space-between;
    margin: 0;
    color: black;
}
a {
    color: black;
    text-decoration: none;
}
.navigation {
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'pt sans', Verdana, sans-serif;
}
.nav-left {
    padding: 0;
    margin-left: -16px;
}
.nav-left1 {
    margin-left: -21px;
}
.nav-right {
    margin-left: 215px;
}
.item {
    width: 286px;
    height: 124px;
    padding: 60px 57px 70px 57px;
    text-align: center;
}
.item-img {
    padding-bottom: 20px;
}
.item-name {
    padding-bottom: 10px;
}
.nav-right-b {
    padding: 0;
    margin-right: 13px;
}
.main-image {
    width: 100%;
}
.about {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 58px;
    height: 96px;
}
.blue-heading{
  margin-left: 60px;
  margin-right: 60px;
}
.text.blue{
  padding-left:7px;
}
.text.about {
    margin-top: 32px;
}
.heading-grey{
  margin-left:60px;
  margin-right:60px;
}
.main-sedona {
    line-height: 26px;
    margin-left: 5px;
    padding-left: 371px;
    padding-right: 373px;
}
.features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 329px;
}
.reasons {
    display: flex;
}
.reasons-bridge {
    display: flex;
    flex-direction: row-reverse;
}
.reasons-text {
    text-align: center;
    width: 303px;
    height: 210px;
    background-color: rgb(129, 179, 210);
    color: white;
    padding: 47px 48px 0px 49px;
}
.bridge-img {
    min-height: 250px;
    line-height: 0;
}
.reasons-img {
    height: 250px;
}
.text.number {
    margin-top: 25px;
    margin-bottom: 20px;
}
.reasons-numbers {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.reasons-small {
    width: 264px;
    height: 149px;
    padding: 48px 68px 60px 68px;
    text-align: center;
    background-color: rgb(238, 238, 238);
}
a:link {
    text-decoration: none;
}
.booking {
    height: 290px;
    text-align: center;
    margin: auto;
    position: relative;
    left: 0px;
}
.modal-form {
    width: 462px;
    height: 282px;
    margin: auto;
    top: 100%;
    margin-top: 55px;
    margin-bottom: 60px;
    padding-left: 57px;
    padding-right: 56px;
    display: block;
}
.modal-form-none {
    display: none;
}
.int {
    padding-top: 40px;
    padding-bottom: 37px;
    margin: 0px auto;
}
.button-sedona {
    background-color: rgb(118, 99, 87);
    margin: auto;
    height: 85px;
}
.map{
  padding-bottom:6px;
}
.search {
    width: 570px;
    background-color: white;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    box-shadow: 0px 7px 15px 0px rgba(50, 50, 50, 0.15);
}
.search-sedona {
    color: white;
    text-decoration: none;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 82px;
}
.howtosort {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding-left: 7px;
}
.title {
    font: 12px;
    text-transform: uppercase;
    display: inline-block;
	  vertical-align:middle;
}
.howtosort a.activelink {
    border-bottom: none;
    color: #81b3d2;
}
.howtosort a.notactive {
    border-bottom:1px dotted #81b3d2;
    color: #b6b6b6;
    padding: 0px;
}
.howtosort a.notactive:active {
    border-bottom: none;
    color: black;
    padding: 0px;
}
.howtosort a.notactive:hover {
    border-bottom:1px dotted;
    color: #81b3d2;
    padding: 0px;
}
.sort1 {
    margin-left: 30px;
    list-style-type: none;
    padding-left: 10px;
}
.datepicker {
    background-image: url(../img/calendar.png);
    background-color: transparent;
    font-size: 0px;
    height: 21px;
    width: 22px;
    background-position: top left;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    right: 62px;
    top: 148px;
    outline: none;
}
.datepicker1 {
    background-image: url(../img/calendar.png);
    background-color: transparent;
    font-size: 0px;
    height: 21px;
    width: 22px;
    background-position: top left;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    right: 62px;
    top: 213px;
    outline: none;
}
.datepicker1:hover {
    background-image: url(../img/calendar-black.png);
}
.datepicker1:active {
    background-image: url(../img/calendar-blue.png);
}
.datepicker:hover {
    background-image: url(../img/calendar-black.png);
}
.datepicker:active {
    background-image: url(../img/calendar-blue.png);
}
input[name="departure"],
[name="arrival"] {
    width: 292px;
    height: 39px;
    padding-right: 43px;
    padding-left: 10px;
    margin-right: 5px;
    background-color: #f2f2f2;
    border: none;
    font-size: 14px;
    line-height: 26px;
    font-family: 'pt sans', Verdana, sans-serif;
}
input[name="departure"] {
    margin-left: 20px;
}
input[name="arrival"] {
    margin-left: 20px;
}
input[value="4 июля 2017"],
[value="24 апреля 2017"] {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
}
input[type="submit"] {
    width: 460px;
    height: 58px;
    background-color: #81b3d2;
    color: white;
    border: none;
    margin-top: 55px;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 26px;
    margin-right: 13px;
}
input[name="kids"],
[name="adults"] {
    width: 33%;
    background-color: #f2f2f2;
    border: none;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
input:active {
    background-color: #ffffff;
}
input:hover {
    background-color: #ebebeb;
}
input[name="adults"] {
    width: 33%;
}
input[name="kids"] {} input[type=submit]:hover {
    background-color: #669ec0;
}
input[type=submit]:active {
    background-color: #5496bd;
    color: #88b6d1;
}
.plus {
    border: none;
    font-size: 0;
    background-image: url(../img/plus.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 33%;
    height: 34px;
    background-color: #f2f2f2;
    outline: none;
}
.plus:hover {
    background-image: url(../img/black-plus.png);
}
.plus:active {
    background-image: url(../img/blue-plus.png);
}
.minus:hover {
    background-image: url(../img/black-minus.png);
}
.minus:active {
    background-image: url(../img/blue-minus.png);
}
.plus1:hover {
    background-image: url(../img/black-plus.png);
}
.plus1:active {
    background-image: url(../img/blue-plus.png);
}
.minus1:hover {
    background-image: url(../img/black-minus.png);
}
.minus1:active {} .ad-container {
    height: 44px;
    margin: 0;
}
.ad {
    display: flex;
}
.kd-container {
    height: 44px;
    margin: 0;
}
.kd {
    display: flex;
}
.visitors {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.adults-number,
.kids-number {
    width: 114px;
    display: flex;
    height: 34px;
}
.adults-number {
    margin-left: 43px;
    margin-right:5px;
}
.kids-number {
    margin-left: 30px;
    margin-right: 2px;

}
.minus {
    border: none;
    font-size: 0;
    background-image: url(../img/minus.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 33%;
    height: 34px;
    background-color: #f2f2f2;
    outline: none;
}
.minus1 {
    border: none;
    font-size: 0;
    background-image: url(../img/minus.png);
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    background-color: #f2f2f2;
    position: absolute;
    left: 84px;
    top: 17px;
    outline: none;
}
.plus1 {
    border: none;
    font-size: 0;
    background-image: url(../img/plus.png);
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    background-color: #f2f2f2;
    position: absolute;
    right: 15px;
    top: 13px;
    outline: none;
}
.in {
    display: flex;
    margin-bottom: 27px;
    justify-content: space-between;
}
.container-dates {
    width: 463px;
    height: 45px;
    margin-bottom: 23px;
    margin-left: 1px;
}
label {
    vertical-align: middle;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 6px;
}
.headertext {
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 9px;
}
.search-sedona2 {
    margin-top: 10px;
}
h2{
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 21px;
    margin: 0px;
}
.head{
	font-size:21px;
	line-height:26px;
}
.text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 21px;
}
.text1 {
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-weight: normal;
}
legend {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 21px;
    padding-bottom: 7px;
    font-family: 'pt sans', Verdana, sans-serif;
}
.form-label {
    font-weight: normal;
}
.sort {
    display: flex;
}
.sort1 {
    font-size: 12px;
	line-height:18px;
    text-transform: uppercase;
	margin-top:7px;
}
.container2 {
    width: 100%;
    display: flex;
}
.main-footer {
    padding-bottom: 18px;
    padding-top: 16px;
    position: relative;
    overflow: hidden;
    display: flex;
}
.hashtag {
    width: 270px;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 12px;
    padding-left: 130px;
}
.cop-text {
    width: 80px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}
.cop-image {
    background-image: url(../img/logo-htmlacademy.png);
    background-repeat: no-repeat;
    display: block;
    width: 116px;
    height: 47px;
    font-size: 0;
    margin-top: auto;
}
.cop-image:hover {
    background-image: url(../img/logo-blue.png);
    background-repeat: no-repeat;
}
.cop-image:active {
    background-image: url(../img/logo-grey.png);
}
.copyright {
    width: 310px;
    padding-left: 90px;
    display: flex;
	align-items:center;

}
.social {
    width: 300px;
    display: block;
    margin-left: 133px;
}
.social-btn {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    background-repeat: no-repeat;
    display: inline-block;
	vertical-align:middle;
    font-size: 0;
}
.social-btn-tw {
    background-image: url(../img/t.png);
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.social-btn:hover {
    background-color: #669ec0;
}
.social-btn:active {
    background-color: #5496bd;
}
.social-btn:active span {
    opacity: 0.3;
}
.social-btn-fb {
    background-image: url(../img/f.png);
    margin-left: 3px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-btn-fb:active {
    background-image: url(../img/fo.png);
}
.social-btn-tw:active {
    background-image: url(../img/to.png);
}
.social-btn-youtube {
    background-image: url(../img/y.png);
    margin-left: 3px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-btn-youtube:active {
    background-image: url(../img/yo.png);
}
.all-search {
    border: none;
    display: flex;
    height: 190px;
    background-image: url(../img/filter-background.jpg);
	  background-color:#7b9ec0;
    padding-top: 26px;
    padding-left: 68px;
    color: white;
}
.main-form{
  display:flex;
}
.search-inf {
    width: 230px;
    border: none;
    padding: 0px;
}
.search-accomodation {
    width: 288px;
    border: none;
    padding: 0px;
    margin-left: 25px;
}
.filter {
    width: 317px;
    border: none;
    margin-left: 195px;
    padding: 0;
    margin-right: 70px;
}
input[type="checkbox"] {
    display: none;
}
.check_box+.form-label {
    position: relative;
    padding-left: 42px;
    cursor: pointer;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 26px;
    height: 22px;
    background: url('../img/checked.png');
    line-height: 21px;
}
input[type="checkbox"]:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 22px;
    height: 22px;
    background: url('../img/checkbox.png');
    line-height: 21px;
}
.sort {
    border: none;
    width: 1054px;
    margin-left: 73px;
    padding-top: 30px;
    padding-right: 73px;
    height: 55px;
}
.results {
    display: flex;
    flex-direction: column;
    margin-top:-3px;
}
.container-results {
    padding-right: 70px;
    padding-bottom: 28px;
}
.updown {
    margin-left: auto;
}
.item-stay {
    display: flex;
    height: 93px;
    width: 1200px;
    padding-bottom: 46px;
    padding-top: 8px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}
.rating {
    margin-left: 526px;
    margin-right: 73px;
}
.rait {
    background-color: #f2f2f2;
    height: 23px;
	  padding-top:4px;
    font-size: 14px;
	  line-height:21px;
    height: 27px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 42px;
}
.stars {
    margin-left: 20px;
    margin-top: 20px;
}
.stars2 {
    padding-top: 22px;
    margin-left: 45px;
}
.stars3 {
    padding-top: 25px;
    margin-left: 68px;
}
.hotel-name {
  line-height:26px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px;
  cursor: pointer;
}
.hotel-name:active{
  color:#b2b2b2;
}
.hotel-name:hover{
  color:#81b3d2;
}
.price,
.price1,
.price2 {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
}
.price {
    margin-left: 35px;
}
.price1 {
    margin-left: 60px;
}
.price2 {
    margin-left: 18px;
}
.description {
    margin-bottom: 13px;
	  margin-top:2px;

}
.image-block {
    min-width: 135px;
    height: 90px;
    margin-left: 73px;
    margin-top: 25px;
}
.text-block {
    height: 135px;
    margin-left: 30px;
	  padding-top:19px;
	 padding-top:22px;


}
.filer-range {
    width: 330px;
}
.price-controls {
    height: 33px;
    margin-bottom: 22px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
    position: relative;
}
.price-controls label {
    display: inline-block;
	  vertical-align:middle;
    font-size: 14px;
    line-height: 21px;
    vertical-align: top;
    cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 60px;
    line-height: 21px;
    font-size: 14px;
    font-weight: normal;

}
.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}
.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 22px;
    background: #ffffff;
}
.range-controls {
    position: relative;
    margin-bottom: 32px;
}
.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}
.range-toggle {
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
    position: absolute;
    top: -9px;
}
.range-toggle-min {
    left: 0;
}
.range-toggle-max {
    left: 80%;
}
.range-toggle:hover {
    background: #1c4f80;
}
.button-more {
    width: 112px;
    height: 26px;
    background-color: #81b3d2;
    display: block;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
	  margin-left:-2px;
}
.button-more:hover {
    background-color: #669ec1;
}
.button-more:active {
    background-color: #5596be;
    color: #97b8cb;
}
.button-booking {
    display: block;
    width: 142px;
    height: 26px;
    background-color: #766357;
    text-align: center;
    margin-left: 4px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;

}
.button-booking:hover {
    background-color: #604e44;
}
.button-booking:active {
    background-color: #503e34;
    color: #8d8980;
}
.booking-accomodation {
    display: flex;
}
.down {
    background: url('../img/down.png');
    display: inline-block;
	  vertical-align:middle;
    font-size: 0px;
    height: 10px;
    width: 10px;
    background-repeat: no-repeat;
    background-position: center;
}
.up {
    background: url('../img/up.png');
    display: inline-block;
	  vertical-align:middle;
    font-size: 0px;
    height: 10px;
    width: 10px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 8px;
}
.down:hover {
    background: url('../img/blackdown.png');
}
.down:active {
    background: url('../img/down.png');
}
.up:hover {
    background: url('../img/blackup.png');
}
.up:active {
    background: url('../img/upblue.png');
}
.btn-transparent {
    display: block;
    margin-left: 83px;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 21px;
    font-family: 'pt sans', Verdana, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
    width: 137px;
}
.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}
