body {
	font-family:"PT Sans", "Verdana", "sans-serif";
	line-height: 26px;
	background-color: white;
	max-width: 1200px;
	margin: 0px auto;
	
}


.main-navigator {
	font-size: 14px;
	font-weight: bold; 
	text-transform: uppercase;
	position: relative; 
	width: 1200px; 
	
}
.container {
	width:1200px;
	min-height: 58px;
	display: flex;
    justify-content: center; 
    align-items: center; 
}
header { 
    margin:0;
	position: relative;
}
.logo {
    position: absolute;
	top:0px;
	left:520px; 
	right:520px; 
}

ul {
 font-size:0px;

}

.navigation{
    font-size: 14px;
	display: inline-block; 
	
}

.nav-left{
	width: 240px;
	padding:0;

}

.nav-right{
	margin-left:320px; 
	width: 240px;

}

.nav-right-b{
	padding:0;

}
.main-image{
	width: 100%;
}
.about {
	text-align:center;
	margin-top:60px;
	margin-bottom:55px; 
}

.features {
	display:flex; 
    flex-direction: row; 
	justify-content: space-between; 
    width:100%;  
}


.item {
	width:33.333%;
	min-height:172px; 
    padding: 60px 57px 70px 60px; 
    text-align: center; 
}
.reasons {
	display: flex; 
}
.reasons-bridge {
	display:flex; 
	flex-direction: row-reverse; 
}
.reasons-text {
	text-align: center; 
	width: 400px;
	height: 203px; 
	background-color: rgb(129, 179, 210);
	color: white; 
	padding:47px 0px 0px 0px;
	
}
.bridge-img {
	min-height: 250px;  
	line-height: 0;
}
.reasons-img { 
	min-height: 250px; 
}


.reasons-numbers{
   display:flex;
   flex-direction: row; 
   width:100%;  
}

.reasons-small{
   width: 33.333%;
   height: 176px; 
   padding: 20px 68px 60px 68px;  
   text-align: center; 
   background-color: rgb(238,238,238);
   
}


.booking {
    height:295px;
	text-align: center; 
	margin: auto; 
	position:relative;
	left:0px;
	
}
.booking-form{
	width:575px; 
	margin: auto; 
	top: 100%; 
	
	
}
.int {
	padding-top:54px;
	padding-bottom:22px;
	margin: 0px auto; 
	
}
.button-sedona {
	background-color: rgb(118,99,87);
	width: 575px;
	height:47px; 
	text-align: center; 
	padding-bottom: 20px;
	padding-top: 20px;  
	margin:auto;
	
	
}	
.search {
	width:575px;
	height:395px; 
	background-color: white; 
	margin:auto; 
	left: 0; 
	right: 0;
	position:absolute; 

}
	
}

h1{
	font-size:30px;
	line-height: 24px;
	text-transform: uppercase;
}

h2{
	font-size: 21px;
	font-weight: bold; 
	text-transform: uppercase; 
	line-height:21px; 
}
p{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal; 

}

legend {
	font-size: 16px;
	font-weight: bold; 
	text-transform: uppercase; 
	line-height: 21px;
	
}

.sort1 {
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase; 
}
.main-footer{
	padding-bottom:18px;
	padding-top:18px; 
	position:relative; 
	overflow: hidden; 
	display:flex;
}
.hashtag {
	width:33.333%; 
	font-size:21px; 
	line-height: 26px; 
	text-transform:uppercase; 
	font-weight: bold; 
	margin:auto;
	padding-left: 125px; 

}

.cop-text {
	width:100px; 
	vertical-align:middle; 
}

.copyright{
	width:33.333%;
	padding-left:120px; 
	display:flex; 
}
.social {
	width:33.333%;
	padding-left:117px; 
	 
}


.search-inf{
	float: left;
	width: 313px;
	height: 218px; 
	border:none;
}
.search-2{
	float:left;
	width:487px;
	height:218px;
	border:none;
}
.filter{
	float:right;
	border:none;
	width:300px;
	height:218px; 
	
}
.sort{
	clear:both;
	border:none;
	width: 1200px;
	
}
.results {
	display: flex; 
	
	
}

